[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = 'reflink-copy'
requires-python = '>=3.8'
license = { text = "Apache License 2.0" }

[tool.maturin]
features = ["pyo3/extension-module"]

[tool.pytest.ini_options]
testpaths = ["tests.py"]
