name: lint

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
      name: Check
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
      steps:
        - uses: actions/checkout@v5
        - uses: actions-rust-lang/setup-rust-toolchain@v1
        - run: cargo fmt --all -- --check
        - run: cargo clippy --all-targets
        - run: cargo build --verbose
        - run: cargo build --release --verbose
        - run: cargo test --verbose --all-features
